.button {
    border-radius: 10px;
    background-color: black;
    color: white;
}

.container {
    border: 5px solid black;
    padding-bottom: 500px;
}

.grid {
    display:grid;
    border-radius: 10px;
    text-align: center;
    grid-template-areas: 
    "topLeft topRight"
    "bottomLeft bottomRight";
}


#image0 {
    
    margin:0 0;
    width:480px ;
    height:270px;
    background-image: url(https://i.pinimg.com/originals/0d/97/95/0d9795d08fb0481be85a5ee402085359.jpg);
    background-size: 300%;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: 0px;
    grid-area: topLeft;
    justify-self: right;
}

#image1 {
   
    transform: scalex(-1);
    margin:0 0;
   width:480px ;
   height:270px;
   background-image: url(https://i.pinimg.com/originals/0d/97/95/0d9795d08fb0481be85a5ee402085359.jpg);
   background-size: 300%;
   background-repeat: no-repeat;
   grid-area: topRight;
   justify-self: left;
}

#image2 {
    transform: scale(-1, -1) translate(0, 0);
   width:480px ;
   height:270px;
   background-image: url(https://i.pinimg.com/originals/0d/97/95/0d9795d08fb0481be85a5ee402085359.jpg);
   background-size: 300%;
   background-repeat: no-repeat;
   grid-area: bottomRight;
   justify-self: left;
}

#image3 {
    transform: scaley(-1) translate(0, 0);
    margin:0 0;
   width:480px ;
   height:270px;
   background-image: url(https://i.pinimg.com/originals/0d/97/95/0d9795d08fb0481be85a5ee402085359.jpg);
   background-size: 300%;
   background-repeat: no-repeat;
   grid-area: bottomLeft;
   justify-self:right;
}

#upBtn {
    margin:0px auto;
}

#downBtn {
    margin:0px auto;
}


  
