.button {
    border-radius: 10px;
    background-color: black;
    color: white;
}

.container {
    border: 5px solid black;
    padding-bottom: 500px;
}

.grid {
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    height: 20px;
    width: 400px;
    text-align: center;
    grid-template-areas: 
    "topLeft topRight"
    "bottomLeft bottomRight";
}


#image0 {
    transform: translate(0, 0);
     margin:0 0;
    width:400px ;
    height:400px;
    background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2020/abstractart.jpg);
    background-size: 400%;
    background-repeat: no-repeat;
    background-position-y: 0px;
    background-position-x: 0px;
    grid-area: topLeft;
    justify-self: right;
}

#image1 {
   
    transform: scalex(-1);
    margin:0 0;
   width:400px ;
   height:400px;
   background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2020/abstractart.jpg);
   background-size: 400%;
   background-repeat: no-repeat;
   grid-area: topRight;
   justify-self: left;
}

#image2 {
    transform: scale(-1, -1) translate(0, 0);
   width:400px ;
   height:400px;
   background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2020/abstractart.jpg);
   background-size: 400%;
   background-repeat: no-repeat;
   grid-area: bottomRight;
   justify-self: left;
}

#image3 {
    transform: scaley(-1) translate(0, 0);
    margin:0 0;
   width:400px ;
   height:400px;
   background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2020/abstractart.jpg);
   background-size: 400%;
   background-repeat: no-repeat;
   grid-area: bottomLeft;
   justify-self:right;
}

#upBtn {
    margin:0px auto;
}

#downBtn {
    margin:0px auto;
}

@keyframes image0 {
    0%   {transform: translate(0,0)}
    5%   {transform: translate(0,3)}
    10%  {transform: translate(0,6)}
    15%  {transform: translate(0,9)}
    20%  {transform: translate(0,12)}
    25%  {transform: translate(0,15)}
    30%  {transform: translate(0,18)}
    35%  {transform: translate(0,21)}
    40%  {transform: translate(0,24)}
    45%  {transform: translate(0,27)}
    50%  {transform: translate(0,30)}
    55%  {transform: translate(0,33)}
    60%  {transform: translate(0,36)}
    65%  {transform: translate(0,39)}
    70%  {transform: translate(0,42)}
    75%  {transform: translate(0,45)}
    80%  {transform: translate(0,48)}
    85%  {transform: translate(0,51)}
    90%  {transform: translate(0,54)}
    95%  {transform: translate(0,57)}
    100% {transform: translate(0,60)}
  }

  
